/* Initializing targeting universal selector to ensure the page will look the same in all the browsers */
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* CSS Variables -  To practice them */
:root {
  font-size: 16px;
  --massive-font: 4rem;
  --big-font: 2rem;
  --bigish-font: 1.5rem;
  --standard-font: 1.3rem;
  --small-font: 1rem;
  /*Note: add color palette variables later...*/
  --background-clr: #DFDFDE;
  --title-clr: #11999E;
  --second-background-clr: #91c7c9;
  --code-background-clr: rgba(64,64,64,1);
}

/* Formats meant to p elements inside my content by spans */
/* call it by adding <span> w required class */
/* Tab spaces 4 spans */
.tab {margin-left: 2rem;}
.tab2 {margin-left: 4rem;}
/* center text */
.center-text {
  display:block;
  text-align: center;}
  /* bold */
.isBold {
  font-weight: bold;}
/* code -  for making it look like code */

/* Sections: Text, code */
.isCode {
  background-color: var(--code-background-clr);
  /* border: 1px solid black; */
  /* border-top: 20px; */
  font-family: monospace;
  color: whitesmoke;
  padding: 1rem;
  margin: 2rem;
  line-height: 1.3rem; 
  border-radius: 5px;
  /* box-shadow: horizontal vertical blur spread color;
      horizontal  +value: shadow on the right
                  -value: shadow on the left
      vertical    +value: below box
                  -value: above box
      blur        0 = sharp  higher number more blurred
  */
  box-shadow:  0.2rem 0.2rem 10px rgb(22, 21, 21); 
}

.isText {
  padding: 0.2rem;
  font-size: var(--standard-font);
  margin: 2em;
  text-align: justify;
}



/* -------------------------- */
body { 
  display: flex;
  flex-direction: column;
}
header {
  background-color: #DFDFDE;
  height: 20vh;
  width: 100%;
}
main {
  /* background-color: aquamarine; */
  height: auto;
  width: 100%;
}
footer {
  background-color: #11999E; /*rgb(17, 153, 158)*/
  max-height: 10vh;
  width: 100%;
}
/* ----------------------------------------------------------- */
/*- Working the header -------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-top: solid 2px black;
}

h1 {
  font-size: var(--massive-font);
  padding: 0.5rem;
  padding-bottom: 0rem;
  text-align: center;
}
.slogan {
  font-size: var(--small-font);
  padding-bottom: 1rem;
  display: block;
  text-align: center;
 }

/* ----------------------------------------------------------- */
/* -------Navigation------------------------------------------- */
.nav-list {
  background-color: #11999E;
  list-style: none;
  font-size: var(--big-font);
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 0.5rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.nav-list > li > a {   /* Targeting all the a(links) of my nav-list */
  text-decoration: none;
}

/* Trying out pseudo elements to mark my current page  */
.nav-list > li > a.current-page::before {
  content: '';
  /* outline: solid 1px blue; */
  padding: 0.5rem;
  border-top: solid 2px black;
  position: relative;
  top: calc(var(--big-font)* 0.85);
  right: 5px;
}
.nav-list > li > a.current-page::after {
  content: '';
  /* outline: solid 1px blue; */
  padding: 0.5rem;
  border-top: solid 2px black;
  position: relative;
  top: calc(var(--big-font)* 0.85);
  left: 5px;
}
/* ----------------------------------------------------------- */
/* - Working secondary navigation -----------------------------*/


.secondary-nav {
  background-color: #91c7c9;
  width: 100%;
  border-bottom: 2px black solid;
}

.secondary-nav-list {
  background-color: #11999E;
  list-style: none;
  font-size: var(--bigish-font);
  display: flex;
  gap: 2rem;
  align-content: center;
  padding: 0.6rem;
  width: fit-content;
  margin: auto;
  border: 2px solid black;
  border-top: 1px;
  border-bottom: 0px;
  border-radius: 15px/20px;
}
.secondary-nav-list > li > a {
  text-decoration: none;
}
/* ----------------------------------------------------------- */
/* - Working the main ------------------------------------------- */

main {
  display: flex;
}

div[class^="blk-"] { /* Playing with [attribute^=value] selector to target both blks*/
  width: 15%;
}
.blk-right {
  background-image: url('../images/corn-field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.blk-left {
  background-image: url('../images/tractor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-content, .sprints-content {
  background-color: #DFDFDE;
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  border-right: solid 3px black;
  border-left: solid 3px black;
}

.home-content > p {
  /* outline: 1px solid red; */
  padding: 1rem;
  align-self: center;
  font-size: var(--standard-font);
  margin-left: 2em;
  margin-right: 2em;
}

.first-image {
  padding: 1rem;
  margin: auto;
  outline: solid 2px black;
  border-radius: 5px;
}
/* ----------------------------------------------------------- */
/*- Working the footer --------------------------------------- */
/* playing with background images instead of image tag */
footer {
  display: flex;
  border-top: solid 2px black;
}

footer > p {
  display: inline-block;
  width: 100vw;
  padding: 1rem;
  text-align: right;
  padding-right: 6rem;
}

.logo-wrap {
  width: 15vw;
  height: auto;
  position: relative;
  
}

.logo {  
  /* background-color: turquoise;*/
  position: absolute;
  background-image: url('../images/Honest-work.jpg');
  width: 15vw;
  height: 15vw;
  background-size: cover;
  border-radius: 50%;
  right: 25%;
  border: solid 2px black;
  transform: translateX(3rem) translateY(-15rem);
}
/* ----------------------------------------------------------- */
/* Working the card ----------------------------------------------------- */

.sprints-content {
  background-color: #DFDFDE;
  width: 80vw;
  height: 100%;
  margin: auto;
  padding: 15rem;
}

.card-wrap-A {
  border: solid 2px black;
  background-color: #d1d0c8; /*Fallback if browser doesnt support gradient*/
  /* Trying gradients */
  background-image: linear-gradient(
    -45deg,
    rgba(115, 146, 134, 0.726),
    rgb(228, 231, 227),
    rgba(115, 146, 134, 0.726)
  );
  padding: 0.5rem;
  line-height: 1.5rem;
  border-radius: 15px;
  width: 50vw; 
  margin: 2rem;
  margin-right:auto;
  transform: translateX(-25%);
}

.card-wrap-B {
  border: solid 2px black;
  background-color: #d1d0c8;
  background-image: linear-gradient(
    45deg,
    rgba(115, 146, 134, 0.726),
    rgb(228, 231, 227),
    rgba(115, 146, 134, 0.726)
  );
  padding: 0.5rem;
  line-height: 1.5rem;
  border-radius: 15px;
  width: 50vw; 
  margin: 2rem;
  margin-left: auto;
  transform: translateX(25%);
}

.card-title > h4 {
  background-color: var(--title-clr);
  font-size: var(--bigish-font);
  border: 2px solid black;
  padding: 0.3rem;
  padding-left: 1rem;
  border-radius: 15px/20px;
  text-align: center;
}

.card-content {
  background-color: var(--background-clr);
  font-size: var(--standard-font);
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border: solid black 2px;
  border-radius: 15px/20px;
  text-align: center;
  position: relative;
}

.card-content > a > img {
  width: 50%;
  height: auto;
  border-radius:10px;
  margin: 1rem auto;
  outline: solid 2px black;
}
/* --------------------------------------------------------------------- */
/* Prob need erasing--------------------------------------------- CHECK! */
/* I moved this code to the "isBold" class for spans*/
/* --------------------------------------------------------------------- */
.card-content>p>span{
  /* background-color: red; */
  font-weight: bold;
}

div[class^="card-image-wrap-"] {
  border: solid 2px black;
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius:50%;
  background-color: var(--title-clr);
}
.card-image-wrap-A {
  transform: translateX(48vw) translateY(-50%);
}
.card-image-wrap-B {
  transform: translateX(-2vw) translateY(-50%) rotateY(180deg);
}

.card-image {
  background-image: url("../images/seed.png");
  background-size: contain;
  background-repeat:  no-repeat;
  transform: translateX(30%) translateY(50%);
}

/*- Tech content ---------------------------------------------------------- */
.sprints-main {
  background-color: var(--background-clr);
  width: 70vw;
  height: auto;
  margin: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.sprint-title {
  background-color: var(--title-clr);
  border: solid 2px black;
  width: 20vw;
  border-radius:  25px/25px;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  padding: 0.5rem;
  transform: translateX(-50%);
}
h2 { 
  font-size: var(--big-font);
  text-align: center;
}
.sprint-topic {
  background-color: var(--second-background-clr);
  padding: 0.5rem;
  width: 40vw;
  padding: 0.5rem;
  border: solid 2px black;
  border-radius:  25px/25px;
  margin: 1rem auto;
}
h3 { 
  font-size: var(--bigish-font);
  text-align: center;
}

.sprint-topic > p {
  text-align: center;
}

.tech-blog-image {
  padding: 1rem;
  margin-bottom: 1rem; 
}
.tech-blog-image > img {
  display: block;
  margin: auto;
  border: 2px solid black;
}
.tech-blog-entry {
  background-color: var(--second-background-clr);
  font-size: var(--standard-font);
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  width: 15vw;
  padding: 0.5rem;
  border: solid 2px black;
  border-radius:  25px/25px;
  margin: 1rem auto;
}
.tech-blog-entry > a {
  text-decoration: none;
}

.divider-line {
  height:0.01vh;
  width:60vw;
  margin: auto;
  margin-top: 1rem;
  border-top: solid 2px black;
  margin-bottom: 1rem;
}

/* Box model */
.sprint-topic-content {
  text-align: justify;
  text-justify: inter-word;
  line-height: 2rem;
}

.sprint-topic-content > p {
  padding: 0.2rem;
  font-size: var(--standard-font);
  margin-left: 2em;
  margin-right: 2em;
}

/* TODO: --------------------------------------------------------------- 
 TODO: Prob need erasing--------------------------------------------- CHECK! 
 TODO: I moved this code to the "isBold" class for sections
 TODO: ---------------------------------------------------------------------*/ 
 
 .sprint-topic-content > p > span {
  font-weight: bold;
}
.box-model {
  margin-bottom: 3rem;
}

.box-model > img {
  width: 50%;
  height: auto;
  display:block;
  margin: auto;
  padding: 2rem;
}

.box-example-img {
  background-color:white;
  background-image: url("../images/Example-box.jpg");
  width: 80%;
  height: 14rem;
  background-size: contain;
  background-repeat: no-repeat;
  border: solid 2px black;
  margin: 2rem auto;
}
/* Core specific work----- */

.core-footer {
  background-color: var(--title-clr);
  text-align: center;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
