/* 
^-----------------------------------------------------
^------------------- GLOBAL MODIFYIERS
*/

/* Initializing targeting universal selector to ensure the page will look the same in all the browsers */
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ?------------- VARIABLES: 
*/
:root {
  font-size: 16px;
  /* fonts */
  --massive-font: 4rem;
  --big-font: 2rem;
  --bigish-font: 1.5rem;
  --standard-font: 1.3rem;
  --small-font: 1rem;
/* background colors */
  --background-clr: #DFDFDE;
  --title-background-clr: #11999E;
  --second-background-clr: #91c7c9;
  --code-background-clr: rgba(64,64,64,1);
  /* heights */
  --navbar-height: 5vh;
}



/** -------- Working Header (mobile) ---------------- */

/**----- Layout --- */
/* For mobile I want:
 The navbar on the bottom (that pop up when clicked)
The header to stay on top but get lost as soon as we scroll down */
body {
  display: flex;
  flex-direction: column;
  background-color: red;
}

header {
background-color: burlywood;
height: 10vh;
width: 100%;
order: 1
}

main {
background-color: #bdc991;
min-height: 87vh;
width: 100vw;
order: 5
}

footer {
background-color: #91c7c9;
height: 5vh;
width: 100vw;
order: 9;
}

.navigation-wrapper {
background-color: blueviolet;
min-height: 3vh;
max-height: 5vh;
width: 100vw;
order: 10;
display: flex;
flex-direction: column;
outline: 2px black solid;
/* align-items: flex-end; */
}


/** Working on the navbar */

/* 
* Pseudo: 
*   - Make main-navbar ::before pseudo the "menu" cover
      - on-click: open main nav-bar w main & second nav-bar buttons/ main default
        also buttons for minimize again
    - Get the right font and customization for the button looks
    - Test it
*/
.main-navbar {
  width: 100vw;
  height: 5vh;
}

.secondary-navbar {
  width: 100vw;
  height: 5vh;
}

/* .main-navbar::before {
  content: '';
  height: 5vh;
  width: 100vh;
  background-color: chartreuse;
  position: absolute;
  z-index: 3;
 
  display: none;
} */

.nav-list{
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-list > li > a {
 text-decoration: none;
}

.menu-button {
  border: 0 hidden;
  background-color: var(--title-background-clr);
  width: 100vw;
  height: 3vh;
}

.menu-buttons {
  height: calc(var(--navbar-height)* 0.5);
  width: auto;
}

/* 
Things to change when going back to "desktop" version



*/
