/* Initializing targeting universal selector to ensure the page will look the same in all the browsers */
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ------------------------------------------------------------------ */
:root {
  font-size: 16px;
  /* fonts */
  --massive-font: 4rem;
  --big-font: 2rem;
  --bigish-font: 1.5rem;
  --standard-font: 1.3rem;
  --small-font: 1rem;
/* background colors */
  --background-clr: #DFDFDE;
  --title-background-clr: #11999E;
  --second-background-clr: #91c7c9;
  --code-background-clr: rgba(64,64,64,1);
}

/** -------- Working Header (mobile) ---------------- */

/**----- Layout --- */
/* For mobile I want:
 The navbar on the bottom (that pop up when hovered)
The header to stay on top but get lost as soon as we scroll down */
body {
  display: flex;
  flex-direction: column;
}

header {
background-color: burlywood;
height: 10vh;
order: 1
}

main {
background-color: #bdc991;
max-height: 95vh;
min-height: 80vh;
order: 5
}

footer {
background-color: #91c7c9;
height: 5vh;
order: 9;
}

.main-navbar {
background-color: blueviolet;
min-height: 5vh;
max-height: 10vh;
order: 10;
}

/** Working on the .main-navbar */

.nav-list{
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  list-style: none;
}
.nav-list > li > a {
 text-decoration: none;
}



